header {
	height: 70px;
	z-index: 10;
	position: fixed;
	display: flex;
	background-color:#2856b6;
	justify-content: space-between;
	width:100%
}

header nav {
	display: flex;
	align-items: center;
}

header div {
	width:70%;
	display:flex;
	background-color: #6284c9;
	align-items: center;
	justify-content: space-around;
	margin:10px;
	opacity: 0.6;
}

header div input {
	height: 50px;
	flex-grow:2;
	font-size:16px;
	background-color: #6284c9;
	opacity: 0.9;
	outline: none;
	border-color: transparent;
}

header div span {
  opacity: 0.9;
  padding: 10px;
}

header nav ul {
	padding: 8px 25px;
    display: flex;
    align-items: baseline;
    list-style-type: none;
}

header nav li {
    margin-right: 15px;
}

header button {
    border: none;
    padding: 8px 25px;
    color: #fff;
	font-size:16px;
    font-weight: 600;
    cursor: pointer;
	background-color:#2856b6;
}

header button:hover {
	background-color: #6284c9;
	opacity: 0.9;
}

.shadow {
	-moz-box-shadow:	rgba(0,0,0,.1) 0 2px 5px;
	-webkit-box-shadow:	rgba(0,0,0,.1) 0 2px 5px;
	box-shadow:			rgba(0,0,0,.1) 0 2px 5px;
}
