
.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
	background: white;
	width: 400px;
	min-height: 200px;
	margin-top: 10px;
	line-height: 150px;
	color: white;
	font-weight: bold;
	font-size: 3em;
}

.shadow {
   -moz-box-shadow:    rgba(0,0,0,.1) 0 2px 5px;
   -webkit-box-shadow: rgba(0,0,0,.1) 0 2px 5px;
   box-shadow:         rgba(0,0,0,.1) 0 2px 5px;
}

img {
	opacity: 0.7;
	max-width: 100%;
}

.focusImage {
	opacity: 1
}

.focusCard {
   -moz-box-shadow:    rgba(0,0,0,.3) 0 2px 5px;
   -webkit-box-shadow: rgba(0,0,0,.3) 0 2px 5px;
   box-shadow:         rgba(0,0,0,.3) 0 2px 5px;

}
.imgContainer {
	display: flex;
	width: 400px;
	height: 200px;
	background-color: white;
}

.descContainer {
	width: 400px;
	background-color: white;
}


.titleCard {
	text-align: left;
	color: #303030;
	font-size: 24px;
	font-weight: 300;
	/*text-overflow: ellipsis;*/
	padding: 10px;
	margin-bottom: 0px;
}

.descCard {
	text-align: left;
	color: #303030;
	font-size: 18px;
	font-weight: 300;
	/*text-overflow: ellipsis;*/
	padding: 10px;
}

.tagContainerCard {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	align-items: stretch;
	/*justify-content: space-around;*/
}

.tagsCard {
	text-align: left;
	color: #303030;
	font-size: 18px;
	font-weight: 300;
	/*text-overflow: ellipsis;*/
	padding: 10px;
	background-color: red;
    border-radius: 15px;
    margin: 5px;
    line-height: 20px;
}

.cardToolsHeader {
	position: absolute;
	background-color: red;
	line-height: 30px;
	/*flex-grow: 1;*/
	width: 400px;
	z-index: 100;
}

.cardToolsHeader ui {
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: flex-end;
}

.cardToolsItems {
	font-size: 20px;
	padding-right: 10px;	
}

.show {
	visibility: visible;
}

.hide {
	visibility: hidden;
}